html {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  margin:0;
  padding: 0;
  height:100%;
}

body {
  margin:0;
  padding: 0;
  height:100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.background
{
  margin:0;
  padding: 0;
  position: relative;
  width: 100%;
  height:100%;
}

.background::after {
  content: '';
  background: #bec5cd;
  background: -moz-linear-gradient(top, #bec5cd 0%, #818e9f 100%);
  background: -webkit-linear-gradient(top, #bec5cd 0%,#818e9f 100%);
  background: linear-gradient(to bottom, #bec5cd 0%,#818e9f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bec5cd', endColorstr='#818e9f',GradientType=0 );
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.container {
  margin: 0 auto;
  padding: 50px 0 50px;
  max-width: 960px;
  width: 100%;
}

.panel {
  background-color: #fff;
  border-radius: 10px;
  padding: 0px 0px;
  position: relative;
  width: 100%;
  z-index: 10;
}

.calamares-big-table {
  box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.08), 0px 20px 31px 3px rgba(0, 0, 0, 0.09), 0px 8px 20px 7px rgba(0, 0, 0, 0.02);
  display: flex;
  flex-direction: column;
}

@media (min-width: 700px) {
  .calamares-big-table {
    flex-direction: row;
  }
}

.calamares-big-table * {
  text-align: center;
}

.calamares-big-plan {
  border-bottom: 1px solid #3c3a3a;
  padding: 25px;
}

.calamares-big-plan:last-child {
  border-bottom: none;
}

@media (min-width: 900px) {
  .calamares-big-plan {
    border-bottom: none;
    border-right: 1px solid #c5cad3;
    flex-basis: 100%;
    padding: 25px 40px;
  }

  .calamares-big-plan:last-child {
    border-right: none;
  }
}

.calamares-big-img {
  margin-bottom: 10px;
  max-width: 100%;
}

.calamares-big-header {
  color: #888;
  font-weight: 600;
  letter-spacing: 3px;
}

.calamares-big-features {
    color: #3c3a3a;
    font-weight: 600;
    letter-spacing: 0.6px;
    font-size: small;
    margin: 20px 0 25px;
}

.calamares-big-features-item {
  border-top: 1px solid #c5cad3;
  line-height: 1.5;
  padding: 10px 0;
}
.li-check {
  list-style-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='12px' height='12px' viewBox='0 0 512 512' fill='%23117720c7'%3e%3cpath d='M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z'/%3e%3c/svg%3e"); 

/*filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);*/
}

.li-checknone {
  list-style-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='12px' height='12px' viewBox='0 0 352 512' fill='%23ff2200c0'%3e%3cpath d='M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z'/%3e%3c/svg%3e"); 
  /*filter: invert(15%) sepia(94%) saturate(6707%) hue-rotate(355deg) brightness(113%) contrast(117%);*/
}

.calamares-big-features-item:last-child {
  border-bottom: 1px solid #c5cad3;
}

.calamares-big-leg {
  color: #999;
  display: block;
  font-size: 16px;
  font-weight: 700;
}

.calamares-big-button {
  border: 1px solid #3a6df0;
  border-radius: 10px;
  color: #3a6df0;
  display: inline-block;
  margin: 15px 0;
  padding: 10px 35px;
  text-decoration: none;
  transition: all 150ms ease-in-out;
}

.calamares-big-button:hover,
.calamares-big-button:focus {
  background-color: #1e59f1;
  color: #fff;
}

.calamares-big-button.is-featured {
  background-color: #3a6df0;
  color: #fff;
}

.calamares-big-button.is-featured:hover,
.calamares-big-button.is-featured:active {
  background-color: #1e59f1;
}

.info {
    position: absolute !important;
    bottom: 0px;
    padding: 15px;
    z-index: 20;
    width: 100%;
    text-align: center;
    background-color: white;

}
