* {
    box-sizing: border-box;
  --text-size-tiny: 12px;
  --text-size-small: 14px;
  --text-size-medium: 15px;
  --text-size-big: 16px;
  --text-size-large: 17px;
  --text-size-huge: 18px;
}

:root {
    --body-bg-color: #3d4550;
    --theme-bg-color: rgba(16 18 27 / 40%);
    --border-color: rgba(113 119 144 / 25%);
    --theme-color: #f9fafb;
    --inactive-color: rgb(113 119 144 / 78%);
    --hover-menu-bg: rgba(12 15 25 / 30%);
    --content-title-color: #797e84;
    --content-bg: rgb(146 151 179 / 13%);
    --button-inactive: rgb(249 250 251 / 55%);
    --border-card-color: rgb(70 70 70);
    --dropdown-bg: #21242d;
    --dropdown-hover: rgb(42 46 60);
    --popup-bg: rgb(22 25 37);
    --subtitle-bg: rgb(0 102 153);
    --search-bg: rgb(255 255 255 / 8%);
    --overlay-bg: rgba(36, 39, 59, 0.3);
    --scrollbar-bg: #428bff;
    --border-box: #777;
    --shador-color-icons: rgb(79 79 79 / 100%);
    --subtitle: rgb(255 255 255 / 100%);
    --search-color: rgb(155 155 155 / 100%);
    --search-color-over: #fff;
    --footer-bg-color: #2a303a;
    --box-color-shadow-01: rgba(0, 0, 0, 0.2);
    --text-a-color: #ccc;
}

.light-mode {
    --body-bg-color: #252d37;
    --theme-bg-color: rgb(255 255 255 / 31%);
    --theme-color: #3c3a3a;
    --inactive-color: #333333;
    --button-inactive: #3c3a3a;
    --border-card-color: rgb(188 191 193);
    --search-bg: rgb(255 255 255 / 31%);
    --dropdown-bg: #f7f7f7;
    --overlay-bg: rgb(255 255 255 / 30%);
    --dropdown-hover: rgb(236 236 236);
    --border-color: rgb(255 255 255 / 35%);
    --popup-bg: rgb(255 255 255);
    --subtitle-bg: rgb(255 255 255);
    --hover-menu-bg: rgba(255 255 255 / 35%);
    --scrollbar-bg: #428bff;
    --content-title-color: --theme-color;
    --content-bg: rgb(255 255 255 / 19%);
    --border-box: #aaa;
    --logo-big: invert(100%);
    --shador-color-icons: rgb(0 0 0 / 28%);
    --subtitle: rgb(0 0 0 / 100%);
    --search-color: rgb(100 100 100 / 100%);
    --search-color-over: #000;
    --footer-bg-color: #6c6d6d;
    --box-color-shadow-01: rgba(0, 0, 0, 0.2);
    --text-a-color: #444;
}

html {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  height:100%;
}

body {
  margin:0;
  padding: 0;
  height:100%;
  background: var(--body-bg-color);
  background-repeat: no-repeat;
  background-attachment: fixed;
  
}

*, *:before, *:after {
  box-sizing: inherit;
}




  /* --------------------------- */
 /*  OPEN CHANGE COLOR BUTTON   */
/* --------------------------- */
.dark-light {
    position: fixed;
    bottom: 70px;
    right: 30px;
    background-color: var(--dropdown-bg);
    box-shadow: -1px 3px 8px -1px var(--box-color-shadow-01);
    padding: 8px;
    border-radius: 50%;
    z-index: 20;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.dark-light svg {
    width: 24px;
    flex-shrink: 0;
    fill: #ffce45;
    stroke: #ffce45;
    transition: 0.5s;
}

.light-mode .dark-light svg {
    fill: transparent;
    stroke: var(--theme-color);
}

.light-mode .profile-img {
    border: 2px solid var(--theme-bg-color);
}
  /* ---------------------------- */
 /*  CLOSE CHANGE COLOR BUTTON   */
/* ---------------------------- */

.light-mode .content-section ul {
    background-color: var(--theme-bg-color);
}

.light-mode .pop-up__title {
    border-color: var(--theme-color);
}

.light-mode .dropdown.is-active ul {
    background-color: rgba(255, 255, 255, 0.94);
}

body.light-mode:before {
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.72) 0%, rgba(255, 255, 255, 0.45) 100%) fixed;
}

.Message {
    display: table;
    position: absolute;
    margin-top: 65px;
    width: 92%;
    height: 80%;
    max-height: 500px;
    background-color: #0074D9;
    color: #fff;
    transition: all 0.2s ease;
    border-radius: 15px;
    font-weight: 600;
    z-index: 10;
    font-size: large;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    box-shadow: -1px 3px 8px -1px var(--box-color-shadow-01);
}
.Message.is-hidden {
  opacity: 0;
  height: 0;
  font-size: 0;
  padding: 0;
  margin: 0 auto;
  display: block;
}

.Message--orange {
  background-color: #F39C12;
}

.Message--red {
  background-color: #FF4136;
}

.Message--green {
  background-color: #2ECC40;
}

.Message-icon {
  display: table-cell;
  vertical-align: middle;
  width: 60px;
  padding: 30px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 15px 0 0 15px;
}
.Message-icon > i {
  width: 20px;
  font-size: 20px;
}

.Message-body {
  display: table-cell;
  vertical-align: middle;
  padding: 30px 20px 30px 10px;
}
.Message-body > p {
  line-height: 1.2;
  margin-top: 6px;
}

.Message-button {
  position: relative;
  margin: 15px 5px -10px;
  background-color: rgba(0, 0, 0, 0.25);
  box-shadow: 0 3px rgba(0, 0, 0, 0.4);
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  color: #fff;
  outline: none;
  cursor: pointer;
}
.Message-button:hover {
  background: rgba(0, 0, 0, 0.3);
}
.Message-button:active {
  background: rgba(0, 0, 0, 0.3);
  box-shadow: 0 0px rgba(0, 0, 0, 0.4);
  top: 3px;
}

.Message-close {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    border: none;
    outline: none;
    font-size: 20px;
    bottom: 10px;
    opacity: 1;
    cursor: pointer;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.Message-close:hover {
  background-color: rgba(0, 0, 0, 0.5);
}


.messageP {
    display: flex;
    margin-bottom: 20px;
}

.numberP {
    display: table;
    width: 45px;
}

.titleP {
    text-align: center;
    margin-bottom: 25px;
    font-size: larger;
}

.calamares-big-buttonP {
    border: 1px solid #3a6df0;
    border-radius: 10px;
    color: #3a6df0;
    padding: 10px 35px;
    text-decoration: none;
    background-color: aliceblue;
    transition: all 150ms ease-in-out;
}

.alertP {
    color: khaki;
    display: contents;
}

.alertP2 {
    color: aqua;
    display: contents;
    cursor: pointer;
}

.ContinueButton {
    text-align: center;
}

.u-italic {
  font-style: italic;
}


.background
{
  margin:0;
  padding: 0;
  position: relative;
  width: 100%;
  height:100%;
}

.background::after {
  content: '';
  background: #bec5cd;
  background: -moz-linear-gradient(top, #bec5cd 0%, #818e9f 100%) fixed;
  background: -webkit-linear-gradient(top, #bec5cd 0%,#818e9f 100%) fixed;
  background: linear-gradient(to bottom, #bec5cd 0%,#818e9f 100%) fixed;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bec5cd', endColorstr='#818e9f',GradientType=0 );
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.container {
    /*height: 96%;*/
    margin: 0 auto;
    padding: 50px 5px 55px 5px;
    /*max-width: 960px;*/
    width: 100%;
    display: flex;
    align-items: center;
    /*justify-content: center;*/
}

.panel {
  background-color: var(--dropdown-bg);
  border-radius: 10px;
  padding: 0px 0px;
  position: relative;
  width: 100%;
  /*z-index: 10;*/
}

.calamares-big-table {
  box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.08), 0px 20px 31px 3px rgba(0, 0, 0, 0.09), 0px 8px 20px 7px rgba(0, 0, 0, 0.02);
  display: flex;
  flex-direction: column;
}

@media (min-width: 790px) {
  .calamares-big-table {
    flex-direction: row;
  }
}

.calamares-big-table * {
  text-align: center;
}

.calamares-big-plan {
  border-bottom: 1px solid var(--border-card-color);
  padding: 25px;
  min-height: 200px;
  text-align: -webkit-center;
}

.calamares-big-plan:last-child {
  border-bottom: none;
}

@media (min-width: 850px) {
  .calamares-big-plan {
    border-bottom: none;
    border-right: 1px solid var(--border-card-color);
    flex-basis: 100%;
    padding: 25px 40px;
  }

  .calamares-big-plan:last-child {
    border-right: none;
  }
}

.calamares-big-img {
  margin-bottom: 10px;
  max-width: 100%;
  filter: drop-shadow(0px 0px 2px var(--shador-color-icons));
}

.calamares-big-header {
  color: #888;
  font-weight: 600;
  letter-spacing: 3px;
  font-size: 22px;
}

.calamares-big-features {
    color: #3c3a3a;
    font-weight: 600;
    letter-spacing: 0.6px;
    font-size: small;
    margin: 20px 0 25px;
    padding-left: 15px;
    padding-right: 15px;
}

.calamares-big-features-item {
  border-top: 1px solid #c5cad3;
  line-height: 1.5;
  padding: 10px 0;
}
.li-check {
  list-style-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='12px' height='12px' viewBox='0 0 512 512' fill='%23117720c7'%3e%3cpath d='M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z'/%3e%3c/svg%3e"); 
/*filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);*/
}

.li-checknone {
  list-style-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='12px' height='12px' viewBox='0 0 352 512' fill='%23ff2200c0'%3e%3cpath d='M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z'/%3e%3c/svg%3e"); 
  /*filter: invert(15%) sepia(94%) saturate(6707%) hue-rotate(355deg) brightness(113%) contrast(117%);*/
}

.calamares-big-features-item:last-child {
  border-bottom: 1px solid #c5cad3;
}

.calamares-big-leg {
  color: #999;
  display: block;
  font-size: 16px;
  font-weight: 700;
}

.calamares-big-minileg {
  color: #999;
  display: block;
  font-size: 11px;
  font-weight: 400;
}

.calamares-big-button {
  border: 1px solid #3a6df0;
  border-radius: 10px;
  color: #3a6df0;
  display: inline-block;
  margin: 15px 0;
  padding: 10px 35px;
  text-decoration: none;
  transition: all 150ms ease-in-out;
  background: transparent;
}

.calamares-big-button:hover,
.calamares-big-button:focus {
  background-color: #1e59f1;
  color: #fff;
}

.calamares-big-button.is-featured {
  background-color: #3a6df0;
  color: #fff;
}

.calamares-big-button.is-featured:hover,
.calamares-big-button.is-featured:active {
  background-color: #1e59f1;
}

.info {
    position: fixed;
    bottom: 0px;
    padding: 15px;
    z-index: 20;
    width: 100%;
    text-align: center;
    background-color: var(--popup-bg);
    color: var(--text-a-color);
    display: block;
    border-top: 1px solid var(--border-card-color);
}

.p {
    position: relative;
    margin-left: 32px;
    margin-right: 32px;
    border-top: 1px solid var(--border-card-color);
    padding-bottom: 14px;
    padding-top: 14px;
    color: var(--text-a-color);
    font-weight: 600;
    letter-spacing: 0.6px;
    font-size: small;
}

.ajust {
    height: auto;
}

@media (min-width: 780px) {
  .ajust {
    height: 58px;
  }
  
}


.text-bullet-centered {
    position: absolute;
    left: -40px;
    top: 50%;
    transform: translate(0%,-50%);
    font-weight: bold;
    width: 10px;
}

  /* ------------------- */
 /*   OPEN SCROLL BAR   */
/* ------------------- */
::-webkit-scrollbar {
    width: 6px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--scrollbar-bg);
    border-radius: 10px;
}
  /* ------------------- */
 /*   CLOSE SCROLL BAR   */
/* ------------------- */


/* LOGO */
.logo-biglinux {
    filter: var(--logo-big);
}

.logo {
    z-index: 2;
    position: absolute;
    top: 10px;
    left: 15px;
    width: 40px;
    height: 40px;
}

.logo img {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 40px;
}

.logo a {
  width: 100%;
  height: 100%;
  display: block;
}


.desktop_name {
    font-size: 26px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.desktop_desc {
    margin-top: 10px;
    margin-bottom: 10px;
}

.desktop_content {
    border: 1px solid var(--border-card-color);
    border-radius: 10px;
    background-color: var(--dropdown-bg);
    margin-bottom: 40px;
    padding: 10px;
}


.desktop_content a {
    text-decoration: none;
    color: #000;
}

textarea {
    width: 500px;
    height: 100px;
    text-align: left !important;
    padding-left: 15px;
    font-size: 15px;
    line-height: 22px;
    color: var(--text-a-color);
    background-color: var(--dropdown-bg);
}


input#login_manager {
    /*padding-left: 15px;*/
    font-size: 15px;
    line-height: 22px;
    border: 1px solid var(--border-card-color);
    color: var(--text-a-color);
    background-color: var(--dropdown-bg);
}


div#checkbox_list {
    text-align: left;
    line-height: 1.8;
}


  /* -------------------- */
 /*   SWITCH CHECKBOX    */
/* -------------------- */


@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  input[type=checkbox],
input[type=radio] {
    --active: #275efe;
    --active-inner: #fff;
    --focus: 2px rgba(39, 94, 254, 0.3);
    --border: #bbc1e1;
    --border-hover: #275efe;
    --background: #fff;
    --disabled: #f6f8ff;
    --disabled-inner: #e1e6f9;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 21px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    cursor: pointer;
    border: 1px solid var(--bc, var(--border));
    background: var(--b, var(--background));
    transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
  }
  input[type=checkbox]:after,
input[type=radio]:after {
    content: "";
    display: block;
    left: 0;
    top: 0;
    position: absolute;
    transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
  }
  input[type=checkbox]:checked,
input[type=radio]:checked {
    --b: var(--active);
    --bc: var(--active);
    --d-o: 0.3s;
    --d-t: 0.6s;
    --d-t-e: cubic-bezier(0.2, 0.85, 0.32, 1.2);
  }
  input[type=checkbox]:disabled,
input[type=radio]:disabled {
    --b: var(--disabled);
    cursor: not-allowed;
    opacity: 0.9;
  }
  input[type=checkbox]:disabled:checked,
input[type=radio]:disabled:checked {
    --b: var(--disabled-inner);
    --bc: var(--border);
  }
  input[type=checkbox]:disabled + label,
input[type=radio]:disabled + label {
    cursor: not-allowed;
  }
  input[type=checkbox]:hover:not(:checked):not(:disabled),
input[type=radio]:hover:not(:checked):not(:disabled) {
    --bc: var(--border-hover);
  }
  input[type=checkbox]:focus,
input[type=radio]:focus {
    box-shadow: 0 0 0 var(--focus);
  }
  input[type=checkbox]:not(.switch),
input[type=radio]:not(.switch) {
    width: 21px;
  }
  input[type=checkbox]:not(.switch):after,
input[type=radio]:not(.switch):after {
    opacity: var(--o, 0);
  }
  input[type=checkbox]:not(.switch):checked,
input[type=radio]:not(.switch):checked {
    --o: 1;
  }
  input[type=checkbox] + label,
input[type=radio] + label {
    font-size: 15px;
    line-height: 21px;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    margin-left: 4px;
  }
  input[type=checkbox] + span,
input[type=radio] + span {
    font-size: 14px;
    line-height: 21px;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    margin-left: 4px;
  }

  input[type=checkbox]:not(.switch) {
    border-radius: 7px;
  }
  input[type=checkbox]:not(.switch):after {
    width: 5px;
    height: 9px;
    border: 2px solid var(--active-inner);
    border-top: 0;
    border-left: 0;
    left: 7px;
    top: 4px;
    transform: rotate(var(--r, 20deg));
  }
  input[type=checkbox]:not(.switch):checked {
    --r: 43deg;
  }
  input[type=checkbox].switch {
    width: 38px;
    border-radius: 11px;
  }
  input[type=checkbox].switch:after {
    left: 2px;
    top: 2px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: var(--ab, var(--border));
    transform: translateX(var(--x, 0));
  }
  input[type=checkbox].switch:checked {
    --ab: var(--active-inner);
    --x: 17px;
  }
  input[type=checkbox].switch:disabled:not(:checked):after {
    opacity: 0.6;
  }

  input[type=radio] {
    border-radius: 50%;
  }
  input[type=radio]:after {
    width: 19px;
    height: 19px;
    border-radius: 50%;
    background: var(--active-inner);
    opacity: 0;
    transform: scale(var(--s, 0.7));
  }
  input[type=radio]:checked {
    --s: 0.5;
  }
}

  /* ---------- */
 /*   CARDS    */
/* ---------- */


.biglinux-card {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  /*box-shadow: 0 0.2rem 0.4rem rgba(#000000, 0.2);*/
  box-sizing: border-box;
  &:last-child {
    margin-bottom: 0;
  }
}

.biglinux-card-list {
  padding: 0;
  display: flex;
  flex-direction: column;
}

.biglinux-card-list-item {
  padding: 0.75rem;
  transition: background-color 64ms ease-out;
  &:hover {
    background-color: rgba(#000000, 0.01);
  }
  &:not(:last-child) {
    border-bottom: solid 1px #f2f2f2;
  }
}


ul {
  padding: 0 0 0 0px; 
  margin: 0; 
  list-style: none;
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}
li {
    margin: 0; 
    padding: 0;
    text-align: left !important;
    color: var(--text-a-color);
}
li label {
    display: block;
    margin: 0 0 0 0; 
    padding:  0 0 15px 0; 
}

.img-label li label {
    display: block;
    margin: 0 0 0 0;
    color: #278bc7;
    margin-right: 20px;
    font-weight: 600;
    text-align: right;
    margin-top: -35px;
    padding: 0 0 28px 0;
    font-size: 20px;
    text-shadow: 1px 1px 2px #444;
}

li img {
    border: 1px solid #5a6374;
    width: 300px;
    text-align: center;
    align-items: center;
    align: center;
    justify-content: center;  
}
.content-section {
 margin-top: 30px;
 display: flex;
 flex-direction: column;
 &-title {
  color: var(--content-title-color);
  margin-bottom: 14px;
 }
 ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  background-color: var(--content-bg);
  padding-left: 0;
  margin: 0;
  border-radius: 14px;
  border: 1px solid var(--theme-bg-color);
  cursor: pointer;
  li {
   list-style: none;
   padding: 10px 18px;
   display: flex;
   align-items: center;
   font-size: 16px;
   width: 100%;
   height: 100%;
   white-space: nowrap;
   transition: 0.3s;
   &:hover {
    background-color: var(--theme-bg-color);
    &:first-child {
     border-radius: 13px 13px 0 0;
    }
    &:last-child {
     border-radius: 0 0 13px 13px;
    }
   }
   & + li {
    border-top: 1px solid var(--border-color);
   }
  }
  svg {
   width: 28px;
   border-radius: 6px;
   margin-right: 16px;
   flex-shrink: 0;
  }
 }
}

.products {
/* font-size: 0.5vw;*/
 display: flex;
 align-items: center;
 width: 290px;
 height: 45px;
/* @media screen and (min-width: 480px) {
  width: 300px;
  font-size: 1.1vw;
 }*/

 
}

.icone {
  display: block;
  /* text-align: center; */
  /* border: 1px solid #fff;*/
}
.txt {
  width: 120%; 
  white-space: pre-line;
  font-size: 13px;

 @media screen and (max-width: 1200px) {
  width: 120%;
  font-size: 1.3vw;
 }

  @media screen and (max-width: 680px) {
    /* border: 1px solid #fff; */
    font-size: 1.8vw;
    /* text-align: center; */
  }  
  
 /*@media screen and (min-width: 500px) {
  background-color: red;   
  width: 120px;
  font-size: 1.1vw;

 }*/
  
 } 


.block-with-text {
    overflow: hidden;
    position: relative;
    line-height: 1.2em;
    max-height: 6em; /* aqui vc controla a altura da caixa de texto */
    text-align: justify;
}
.block-with-text:before {
    content: '...';
    position: absolute;
    right: 0px;
    bottom: 0;
    background-color: #ffffff;
    padding: 0 0px 0 0.25em;
}

.status {
 margin-left: auto;
 width: 200px;
 font-size: 15px;
 position: relative;
 @media screen and (max-width: 700px) {
  display: none;
 }
 &-circle {
  width: 6px;
  height: 6px;
  background-color: #396df0;
  position: absolute;
  border-radius: 50%;
  top: 4px;
  left: -20px;
  &.green {
   background-color: #3bf083;
  }
  &.gray {
   background-color: #999;
  }
 }
 &-button {
  font-size: 15px;
  margin-top: 0;
  padding: 6px 24px;
   
  @media screen and (max-width: 390px) {
   padding: 6px 14px;
  }
  &.open {
   background: none;
   color: var(--button-inactive);
   border: 1px solid var(--button-inactive);
  }
  &:not(.open):hover {
   color: #fff;
   border-color: #fff;
  }
 }
}

.content-button:not(.open):hover {
 background: #1e59f1;
}

.menu {
 width: 5px;
 height: 5px;
 background-color: var(--button-inactive);
 border-radius: 50%;
 box-shadow: 7px 0 0 0 var(--button-inactive), 14px 0 0 0 var(--button-inactive);
 margin: 0 12px;
}

@media screen and (max-width: 415px) {
 .hidemenu .menu {
  display: none;
 }
}

.dropdown {
 position: relative;
 height: 53px;
 width: 40px;
 top: -33px;
 display: flex;
 left: -5px;
 background: transparent;
 border: none;
 cursor: pointer;
 ul {
  position: absolute;
  background: var(--dropdown-bg);
  height: 140px;
  width: 120px;
  right: 0;
  top: 20px;
  pointer-events: none;
  opacity: 0;
  transform: translatey(10px);
  transition: all 0.4s ease;
  li a {
   text-decoration: none;
   color: var(--theme-color);
   font-size: 12px;
  }
 }
}

.dropdown.is-active {
 ul {
  opacity: 1;
  pointer-events: all;
  transform: translatey(25px);
  li:hover {
   background-color: var(--dropdown-hover);
  }
 }
}

.button-wrapper {
 display: flex;
 align-items: center;
 justify-content: flex-end;
 width: auto;
 margin-left: auto;
}

.biglinux-card {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  /*box-shadow: 0 0.2rem 0.4rem rgba(#000000, 0.2);*/
  box-sizing: border-box;
  &:last-child {
    margin-bottom: 0;
  }
}

.biglinux-dashboard {
  margin-top: 1rem;
  display: flex;
  text-align: center;
}

.biglinux-center-panel {
  background-color: var(--theme-bg-color);
  border-radius: 10px;
  width: 29rem;
  margin-right: 1rem;
  flex-shrink: 0;
}
.biglinux-center-panel h4 {
  color: #fff;
  margin: 1rem 1rem 0;
}

.biglinux-left-panel {
  background-color: var(--theme-bg-color);
  border-radius: 10px;
  width: 50%;
  margin-right: 1rem;
  flex-shrink: 0;
  text-align: left;
}
.biglinux-left-panel h4 {
  color: #fff;
  margin: 1rem 1rem 0;
}

.biglinux-card-list {
  padding: 0;
  display: flex;
  flex-direction: column;
}

.biglinux-card-list-item {
  padding: 0.75rem;
  transition: background-color 64ms ease-out;
  &:hover {
    background-color: rgba(#000000, 0.01);
  }
  &:not(:last-child) {
    border-bottom: solid 1px #f2f2f2;
  }
}

  /* ------------ */
 /*   GALLERY    */
/* ------------ */

figure {
  display: block;
  position: relative;
  padding: 0px;
}

.text {
  display: block;
  position: relative;
  margin-top: -40px;
  color: #fff;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.78));
  padding: 10px 10px 10px 10px;
  width: 100%;
  font-size: 20px;
}

img {
  display: block;
}

.gallery {
  position: relative;
  z-index: 2;
  padding: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  transition: all 0.5s ease-in-out;
  transform: translateZ(0);
}
.gallery.pop {
  filter: blur(10px);
}
.gallery figure {
  flex-basis: 33.333%;
  padding: 0px;
  overflow: hidden;
  cursor: pointer;
}
.gallery figure img {
  width: 100%;
  transition: all 0.3s ease-in-out;
}
.gallery figure figcaption {
  display: none;
}

.popup {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--dropdown-bg);
  opacity: 0;
  transition: opacity 0.5s ease-in-out 0.2s;
}
.popup.pop {
  opacity: 1;
  transition: opacity 0.2s ease-in-out 0s;
}
.popup.pop figure {
  margin-top: 0;
  opacity: 1;
}
.popup figure {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: 0 0;
  margin-top: 30px;
  opacity: 0;
  animation: poppy 500ms linear both;
}
.popup figure img {
  position: relative;
  z-index: 2;
}
.popup figure figcaption {
  position: absolute;
  bottom: 50px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.78));
  z-index: 2;
  width: 100%;
  padding: 100px 20px 20px 20px;
  color: #fff;
  font-family: "Lato", sans-serif;
  font-size: 32px;
}
.popup figure figcaption small {
  font-size: 11px;
  display: block;
  text-transform: uppercase;
  margin-top: 12px;
  text-indent: 3px;
  opacity: 0.7;
  letter-spacing: 1px;
}
.popup figure .shadow {
  position: relative;
  z-index: 1;
  top: -56px;
  margin: 0 auto;
  background-position: center bottom;
  background-repeat: no-repeat;
  width: 98%;
  height: 50px;
  opacity: 0.9;
  filter: blur(16px) contrast(1.5);
  transform: scale(0.95, -0.7);
  transform-origin: center bottom;
}
.popup .close {
  position: absolute;
  z-index: 3;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
  cursor: pointer;
  background: url(#close);
  border-radius: 25px;
  background: rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}
.popup .close svg {
  width: 100%;
  height: 100%;
}

@keyframes poppy {
  0% {
    transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  3.4% {
    transform: matrix3d(0.316, 0, 0, 0, 0, 0.407, 0, 0, 0, 0, 1, 0, -94.672, -91.573, 0, 1);
  }
  4.3% {
    transform: matrix3d(0.408, 0, 0, 0, 0, 0.54, 0, 0, 0, 0, 1, 0, -122.527, -121.509, 0, 1);
  }
  4.7% {
    transform: matrix3d(0.45, 0, 0, 0, 0, 0.599, 0, 0, 0, 0, 1, 0, -134.908, -134.843, 0, 1);
  }
  6.81% {
    transform: matrix3d(0.659, 0, 0, 0, 0, 0.893, 0, 0, 0, 0, 1, 0, -197.77, -200.879, 0, 1);
  }
  8.61% {
    transform: matrix3d(0.82, 0, 0, 0, 0, 1.097, 0, 0, 0, 0, 1, 0, -245.972, -246.757, 0, 1);
  }
  9.41% {
    transform: matrix3d(0.883, 0, 0, 0, 0, 1.168, 0, 0, 0, 0, 1, 0, -265.038, -262.804, 0, 1);
  }
  10.21% {
    transform: matrix3d(0.942, 0, 0, 0, 0, 1.226, 0, 0, 0, 0, 1, 0, -282.462, -275.93, 0, 1);
  }
  12.91% {
    transform: matrix3d(1.094, 0, 0, 0, 0, 1.328, 0, 0, 0, 0, 1, 0, -328.332, -298.813, 0, 1);
  }
  13.61% {
    transform: matrix3d(1.123, 0, 0, 0, 0, 1.332, 0, 0, 0, 0, 1, 0, -336.934, -299.783, 0, 1);
  }
  14.11% {
    transform: matrix3d(1.141, 0, 0, 0, 0, 1.331, 0, 0, 0, 0, 1, 0, -342.273, -299.395, 0, 1);
  }
  17.22% {
    transform: matrix3d(1.205, 0, 0, 0, 0, 1.252, 0, 0, 0, 0, 1, 0, -361.606, -281.592, 0, 1);
  }
  17.52% {
    transform: matrix3d(1.208, 0, 0, 0, 0, 1.239, 0, 0, 0, 0, 1, 0, -362.348, -278.88, 0, 1);
  }
  18.72% {
    transform: matrix3d(1.212, 0, 0, 0, 0, 1.187, 0, 0, 0, 0, 1, 0, -363.633, -267.15, 0, 1);
  }
  21.32% {
    transform: matrix3d(1.196, 0, 0, 0, 0, 1.069, 0, 0, 0, 0, 1, 0, -358.864, -240.617, 0, 1);
  }
  24.32% {
    transform: matrix3d(1.151, 0, 0, 0, 0, 0.96, 0, 0, 0, 0, 1, 0, -345.164, -216.073, 0, 1);
  }
  25.23% {
    transform: matrix3d(1.134, 0, 0, 0, 0, 0.938, 0, 0, 0, 0, 1, 0, -340.193, -210.948, 0, 1);
  }
  28.33% {
    transform: matrix3d(1.075, 0, 0, 0, 0, 0.898, 0, 0, 0, 0, 1, 0, -322.647, -202.048, 0, 1);
  }
  29.03% {
    transform: matrix3d(1.063, 0, 0, 0, 0, 0.897, 0, 0, 0, 0, 1, 0, -318.884, -201.771, 0, 1);
  }
  29.93% {
    transform: matrix3d(1.048, 0, 0, 0, 0, 0.899, 0, 0, 0, 0, 1, 0, -314.277, -202.202, 0, 1);
  }
  35.54% {
    transform: matrix3d(0.979, 0, 0, 0, 0, 0.962, 0, 0, 0, 0, 1, 0, -293.828, -216.499, 0, 1);
  }
  36.74% {
    transform: matrix3d(0.972, 0, 0, 0, 0, 0.979, 0, 0, 0, 0, 1, 0, -291.489, -220.242, 0, 1);
  }
  39.44% {
    transform: matrix3d(0.962, 0, 0, 0, 0, 1.01, 0, 0, 0, 0, 1, 0, -288.62, -227.228, 0, 1);
  }
  41.04% {
    transform: matrix3d(0.961, 0, 0, 0, 0, 1.022, 0, 0, 0, 0, 1, 0, -288.247, -229.999, 0, 1);
  }
  44.44% {
    transform: matrix3d(0.966, 0, 0, 0, 0, 1.032, 0, 0, 0, 0, 1, 0, -289.763, -232.215, 0, 1);
  }
  52.15% {
    transform: matrix3d(0.991, 0, 0, 0, 0, 1.006, 0, 0, 0, 0, 1, 0, -297.363, -226.449, 0, 1);
  }
  59.86% {
    transform: matrix3d(1.006, 0, 0, 0, 0, 0.99, 0, 0, 0, 0, 1, 0, -301.813, -222.759, 0, 1);
  }
  61.66% {
    transform: matrix3d(1.007, 0, 0, 0, 0, 0.991, 0, 0, 0, 0, 1, 0, -302.102, -222.926, 0, 1);
  }
  63.26% {
    transform: matrix3d(1.007, 0, 0, 0, 0, 0.992, 0, 0, 0, 0, 1, 0, -302.171, -223.276, 0, 1);
  }
  75.28% {
    transform: matrix3d(1.001, 0, 0, 0, 0, 1.003, 0, 0, 0, 0, 1, 0, -300.341, -225.696, 0, 1);
  }
  83.98% {
    transform: matrix3d(0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -299.61, -225.049, 0, 1);
  }
  85.49% {
    transform: matrix3d(0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -299.599, -224.94, 0, 1);
  }
  90.69% {
    transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, -299.705, -224.784, 0, 1);
  }
  100% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -300, -225, 0, 1);
  }
}

.container-community {
  width:100%;
  height:auto;
  padding:1%;
  font-size: 20px;
}


  /* ------------- */
 /*   TEXTAREA    */
/* ------------- */

label,
textarea {
    font-size: 0.8rem;
    letter-spacing: 1px;
}

textarea {
    padding: 10px;
    /*max-width: 90%;*/
    height: 300px;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
    width: 100%;
}

label {
    display: block;
    margin-bottom: 10px;
}



