nav.extend,
nav.extend:is(:hover, .active) {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 0;
  position: fixed;
  color: var(--on-surface);
  transform: none;
  z-index: 100;
  inset-inline-start: 0;
  inset-block-start: 0;
  inset-block-end: 0;
  inset-inline-end: 0;
  block-size: auto;
  inline-size: 15rem;
  text-align: center;
  padding: 0.5rem;
  justify-content: flex-start;
  flex-direction: column;
  background-color: var(--surface);
  gap: 0;
}

nav.extend > a {
  padding: 0.75rem;
  border-radius: 2rem;
  display: flex;
  gap: 1rem;
  inline-size: -webkit-fill-available;
  justify-content: flex-start;
}

nav.extend > a:is(:hover, .active) {
  background-color: var(--secondary-container);
}

nav.extend > * {
  inline-size: -webkit-fill-available;
  justify-content: flex-start;
}

@media only screen and (min-width: 993px) {
  nav.extend ~.responsive {
    padding-inline-start: 15rem;
  }
}
